.nav{
    background-color: $white;
    height: 60px;
    .navbar{
        display: flex;
        justify-content: end;
        background-color: $white;
        padding: 0px 50px;
        input{
            height: 37px;
            width: 212px;
            border-radius: 4px;
            margin-top:10px ;
            background-color: $white;
            border: 1px solid $gray;
            border-radius: 4px;
            padding: 10px;
        }
    }
}